[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
pandas = "*"
bs4 = "*"
torrequest = "*"
stem = "*"
random-useragent = "*"

[requires]
python_version = "3.7"
